:root {
  /* -----FONTS----- */
  --ff-primary: "League Spartan", sans-serif;

  --fs-regular: 0.9375rem;

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;

  /* -----COLORS----- */
  --cl-primary-200: hsl(333, 80%, 67%);
  --cl-primary-700: hsl(300, 43%, 22%);

  --cl-neutral-100: hsl(0, 0%, 100%);
  --cl-neutral-300: hsl(300, 24%, 96%);
  --cl-neutral-600: hsl(303, 10%, 53%);
}
