:root {
  /* -----FONTS----- */
  --ff-primary: "Montserrat", sans-serif;
  --ff-secondary: "Fraunces", sans-serif;

  --fw-regular: 400;
  --fw-bold: 700;

  /* -----COLORS----- */
  --cl-primary-400: hsl(158, 36%, 37%);
  --cl-primary-500: hsl(158, 36%, 20%);

  --cl-secondary-200: hsl(30, 38%, 92%);

  --cl-neutral-100: hsl(0, 0%, 100%);
  --cl-neutral-400: hsl(227, 12%, 48%);
  --cl-neutral-900: hsl(212, 21%, 14%);
}
