:root {
  /* -----FONTS----- */
  --ff-primary: "Kumbh Sans", sans-serif;

  --fs-normal: 1.125rem;

  --fw-regular: 400;
  --fw-bold: 700;

  /* -----COLORS----- */
  --cl-primary-500: hsl(227, 10%, 46%);
  --cl-primary-800: hsl(229, 23%, 23%);

  --cl-secondary-500: hsl(185, 75%, 39%);

  --cl-neutral-500: hsl(0, 0%, 59%);
}
/* -----GENERAL----- */
body {
  background: url(../images/bg-pattern-top.svg),
    url(../images/bg-pattern-bottom.svg), var(--cl-secondary-500);
  background-repeat: no-repeat, no-repeat;
  background-position: right 48vw bottom 40vh, left 45vw top 44vh;
  font-family: var(--ff-primary);
  font-size: var(--fs-normal);
  font-weight: var(--fw-regular);
  display: grid;
  place-content: center;
  margin: 1rem;
  overflow: hidden;
}
.profile {
  width: 320px;
  background-color: white;
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
/* -----IMAGE----- */
.profile__background {
  position: relative;
  padding-bottom: 3rem;
}
.profile__background .image {
  position: absolute;
  left: calc(50% - 3rem);
  bottom: 0;
  border: 2px solid white;
  border-radius: 50%;
  overflow: hidden;
}
.profile__background .image img {
  width: 6rem;
}
/* -----INFO----- */
.profile__info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile__info .name span,
.profile__info .localization {
  font-weight: var(--fw-regular);
  color: var(--cl-neutral-500);
}
/* -----STATS----- */
.profile__stats {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 1.5rem 0;
  border-top: 1px solid lightgray;
}
.profile__stats .stat {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile__stats .stat span {
  color: var(--cl-neutral-500);
  font-size: 0.8rem;
}
/* -----MEDIA QUERY----- */
@media (min-width: 600px) {
  .profile {
    width: 350px;
  }
}
